/* general styles */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    --background: #1a1a1a;
    background-color: var(--background);
}

@media only screen and (max-width: 1024px) {
    body{
        text-align: center;
    }
}

h3 {
    font-size: 2.5em;
    font-weight: 300;
}

h4 {
    font-size: 1.8em;
    font-weight: 100;
}

section {
    height: 100vh;
    padding: 10vh;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 5vh;
    }
}

.sliderPrev,
.sliderNext {
    position: absolute;
    top: 50%;
    transform: translateY();
    z-index: 999;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.sliderPrev {
    left: 50px;
}

.sliderNext {
    right: 50px;
}

/* header section */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
    padding: 50px 0;

    background-size: cover;
    background-position: center;
    transition: 0.5s ease-in-out;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.35);
}

#homeHeader {
    background-image: url("img/background0.jpg");
}

#aboutHeader {
    background-image: url("img/background_john.jpg");
}

nav {
    width: 100%;
}

.menuList {
    display: flex;
    justify-content: space-evenly;
}

.menuList > * {
    list-style-type: none;
}

.menuList a {
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    text-decoration: none;
}

.headerText {
    text-align: center;
    color: white;
    word-spacing: 3px;
}

.headerText h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 10px;
}

.headerText h2 {
    font-size: 1.5em;
    font-weight: 100;
}

/* welcome section */
#welcome {
    display: flex;
    justify-content: center;
}

.welcomePhoto {
    background-image: url("img/john.jpg");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100%;
    transform: translateX(10%);
    border-radius: 10px;
}

.welcomeMessage {
    width: 40%;
    height: 80%;
    padding: 50px;
    background-color: white;
    align-self: center;
    z-index: 999;
    box-shadow: 0px 0px 15px  0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    flex-grow: 1;
}

.welcomeMessage p {
    font-size: 1em;
    font-weight: 300;
    margin-top: 25px;
}

@media only screen and (max-width: 1024px) {
    #welcome {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .welcomePhoto,
    .welcomeMessage {
        width: 100%;
    }

    .welcomePhoto {
        transform: translateX(0);
        height: 50vh;
    }

    .welcomeMessage {
        height: auto;
    }
}

/* contact&collabs section */
#contactAndCollabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact,
.collabs {
    padding: 40px;
    height: 100%;
    box-shadow: 0px 0px 15px  0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
}

.contact h3,
.collabs h3 {
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
    width: 30%;
    background-color: #222;
    color: white;
    border-radius: 10px;
}

.contact p {
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: 100;
}

.contact a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

#ig:hover {
    color: #e1306c;
}

#fb:hover {
    color: #0165e1;
}

#li:hover {
    color: #0077b5
}

#tw:hover {
    color: #1da1F2;
}

#book:hover {
    color: #a7a7a7;
}

.collabs {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 80%;
    align-self: center;
    background-color: white;
    z-index: 999;
    flex-grow: 0;

    transform: translateX(5%);
}

.testimonialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}

.testimonial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.testimonialPhoto {
    min-width: 200px;
    min-height: 200px;

    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);

    
    background-position: center;
    background-size: cover;
}

#tPhoto1 {
    background-image: url("img/testimonials/joe.jpg");
}

#tPhoto2 {
    background-image: url("img/testimonials/elizabeth.jpg");
}

.testimonialText {
    width: 70%;
    padding: 20px;
    font-weight: 100;
}

.testimonialText h6 {
    font-size: 1.5em;
    font-weight: 300;
}

@media only screen and (max-width: 1330px) {
    #contactAndCollabs {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 50px;
    }

    .contact,
    .collabs {
        width: 100%;
        transform: translateX(0);
        align-items: center;
    }

    .testimonialsContainer {
        width: 80%;
    }

}

@media only screen and (max-width: 1024px) {

    .collabs {
        gap: 20px;
        padding: 20px;
    }

    .testimonialsContainer {
        gap: 20px;
    }

    .testimonial {
        flex-direction: column;
    }

    .testimonialPhoto {
        margin: 20px 0;
    }

    .testimonialText {
        width: 100%;
        padding: 0px;
    }
}

/* gallery section */
#gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
}

#gallery h3 {
    color: white;
    padding: 20px;
}

.galleryWrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));;
    grid-template-rows: repeat(4, minmax(600px, 90vh));
    justify-content: center;
    gap: 20px
}

.galleryWrapper > * {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px  0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
    border-radius: 10px;
}

.div1 { background-image: url("img/gallery/1.jpg");}
.div2 { background-image: url("img/gallery/2.jpg");}
.div3 { background-image: url("img/gallery/3.jpg");}
.div4 { background-image: url("img/gallery/4.jpg");}
.div5 { background-image: url("img/gallery/5.jpg");}
.div6 { background-image: url("img/gallery/6.jpg");}
.div7 { background-image: url("img/gallery/7.jpg");}
.div8 { background-image: url("img/gallery/8.jpg");}

@media only screen and (max-width: 800px) {
    .galleryWrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 500px);
    }
}

/* contact section */
#contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactWrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px  0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
}

.contactWrapper h3 {
    font-weight: 300;
    height: 10%;
}

.contactContainer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactDetails,
.contactSocialMedia {
    width: 50%;
}

/* footer */
footer {
    background-color: #111;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer h5 {
    padding: 10px;
    font-weight: 300;
}

footer a {
    color: #a7a7a7;
    text-decoration: none;
    transition: .3s;
}

footer a:hover {
    color: #07a081;
}

.disclaimer {
    position: absolute;
    bottom: 20px;
    color: #a7a7a7;
    font-style: italic;
}

/* about page */

#about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    gap: 20px;
}

#about > * {
    width: 60%;
    padding: 50px;
    box-shadow: 0px 0px 15px  0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
}

.about1 {
    background-color: white;
}

.about1 h3,
.about2 h4 {
    margin: 10px 0;
    font-weight: 300;
}

.about1 p {
    margin: 20px 0;
    font-size: 1em;
    word-spacing: 3px;
    line-height: calc(auto + 10px);
    font-weight: 100;
}

.about2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/john2.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    height: 50vh;
}


.about2 ul {
    list-style-type: none;
}

.about2 ul > li {
    padding: 10px 0;
    font-weight: 100;
}

@media only screen and (max-width: 1024px) {
    #about > * {
        width: 100%;
        text-align: left;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}


/* for pages under construction */
#construction {
    display: flex;
    justify-content: center;
    align-items: center;
}

#construction h1 {
    color: white;
    font-size: 3em;
}